{{ range first 1 (where .Site.RegularPages "Section" "blog").ByPublishDate.Reverse }}
  {{ $permalink := .RelPermalink }}
  <div
    class="mb-5 grid grid-cols-1 gap-0 rounded-lg border border-gray-200 shadow-sm transition-shadow hover:shadow-xl dark:border-gray-700 dark:bg-gray-800 md:grid-cols-3"
  >
    {{ if and (isset .Params "cover") (not (in .Params.cover.src "http")) }}
      {{ $image := .Resources.GetMatch .Params.cover.src }}
      <div class="col-span-1 md:col-span-2">
        <a href="{{ $permalink }}" aria-label="{{ .Title }}">
          <img
            src="{{ ($image.Fill "1192x505 webp").RelPermalink }}"
            width="1192"
            height="505"
            title="{{ cond (isset .Params.cover "title") .Params.cover.title .Title }}"
            alt="{{ cond (isset .Params.cover "alt") .Params.cover.alt .Title }}"
            class="rounded-t-lg object-cover md:h-full md:rounded-bl-lg md:rounded-tl-lg md:rounded-tr-none"
          />
        </a>
      </div>
    {{ else if (in .Params.cover.src "http") }}
      <div class="col-span-1 md:col-span-2">
        <a href="{{ $permalink }}" aria-label="{{ .Title }}">
          <img
            src="{{ .Params.cover.src }}"
            width="1192"
            height="505"
            title="{{ cond (isset .Params.cover "title") .Params.cover.title .Title }}"
            alt="{{ cond (isset .Params.cover "alt") .Params.cover.alt .Title }}"
            class="rounded-t-lg object-cover md:h-full md:rounded-bl-lg md:rounded-tl-lg md:rounded-tr-none"
          />
        </a>
      </div>
    {{ end }}
    <div class="{{ cond (isset .Params "cover") "" "col-span-3" }} h-full p-5">
      <a href="{{ $permalink }}" aria-label="{{ .Title }}">
        <h3 class="text-2xl tracking-tight text-gray-900 dark:text-white">
          {{ .Title }}
        </h3>
        <p class="mb-3 text-sm text-gray-500 dark:text-gray-300">
          {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
        </p>
        <p class="font-normal text-gray-700 dark:text-gray-100">
          {{ .Description }}
        </p>
      </a>
    </div>
  </div>
{{ end }}
