{{ if transform.CanHighlight .Type }}
  {{/* Supported Chroma Language */}}

  {{/* Add class to wrapper if line highlighting is active */}}
  {{ $wrapperClass := "highlight" }}
  {{ if .Options.hl_lines }}
    {{ $wrapperClass = print $wrapperClass " has-line-highlights" }}
  {{ end }}
  {{ if .Attributes.wide }}
    {{ $wrapperClass = print $wrapperClass " highlight-wide" }}
  {{ end }}

  <div class="{{ $wrapperClass }}" title="{{ .Attributes.title }}">
    <pre class="chroma" tabindex="0"><code class="language-{{ .Type }} not-prose" data-lang="{{ .Type }}">
    {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
    {{- end -}}
  </code></pre>
  </div>
  {{ with .Attributes.caption }}
    {{ $captionClass := "highlight-caption" }}
    {{ if $.Attributes.wide }}
      {{ $captionClass = print $captionClass " highlight-caption-wide" }}
    {{ end }}
    <div class="{{ $captionClass }}">{{ . | markdownify }}</div>
  {{ end }}

{{ else }}
  {{/* Unsupported Language */}}
  {{ $wrapperClass := "highlight" }}
  {{ if .Attributes.wide }}
    {{ $wrapperClass = print $wrapperClass " highlight-wide" }}
  {{ end }}
  <div class="{{ $wrapperClass }}" title="{{ .Attributes.title }}">
    <pre
      tabindex="0"
    ><code class="language-{{ .Type }}" data-lang="{{ .Type }} not-prose">{{ .Inner }}</code></pre>
  </div>
  {{ with .Attributes.caption }}
    {{ $captionClass := "highlight-caption" }}
    {{ if $.Attributes.wide }}
      {{ $captionClass = print $captionClass " highlight-caption-wide" }}
    {{ end }}
    <div class="{{ $captionClass }}">{{ . | markdownify }}</div>
  {{ end }}
{{ end }}
