{{ if transform.CanHighlight .Type }}
  {{/* Supported Chroma Language */}}

  {{/* Add class to wrapper if line highlighting is active */}}
  {{ $wrapperClass := "highlight" }}
  {{ if .Options.hl_lines }}
    {{ $wrapperClass = "highlight has-line-highlights" }}
  {{ end }}

  <div class="{{ $wrapperClass }}" title="{{ .Attributes.title }}">
    <pre class="chroma" tabindex="0"><code class="language-{{ .Type }}" data-lang="{{ .Type }}">
    {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
    {{- end -}}
  </code></pre>
  </div>
  {{ with .Attributes.caption }}
    <div class="highlight-caption">{{ . | markdownify }}</div>
  {{ end }}

{{ else }}
  {{/* Unsupported Language */}}
  <div class="highlight" title="{{ .Attributes.title }}">
    <pre
      tabindex="0"
    ><code class="language-{{ .Type }}" data-lang="{{ .Type }}">{{ .Inner }}</code></pre>
  </div>
  {{ with .Attributes.caption }}
    <div class="highlight-caption">{{ . | markdownify }}</div>
  {{ end }}
{{ end }}
