{{ define "main" }}
  <article class="prose mx-auto mb-16 px-6 dark:prose-dark lg:prose-lg sm:px-4 md:px-0">
    <h1 class="m-0 text-center">{{ .Title }}</h1>

    {{ .Content }}


    <div class="horizontal-divider"></div>

    <div class="not-prose grid gap-4 md:grid-cols-2">
      {{ $numberOfItems := .Site.Params.paginate | default 10 }}
      {{ range .Paginator.Pages.ByPublishDate.Reverse | first $numberOfItems }}
        {{ partial "widgets/blog-card.html" . }}
      {{ end }}
    </div>

    {{ partial "widgets/pagination.html" . }}
  </article>
{{ end }}
