{{ define "main" }}
  <article class="mx-auto mb-16 max-w-2xl justify-self-center px-6 text-gray-700 sm:px-4 md:px-0">
    <h1 class="m-0 text-center text-5xl font-light dark:text-gray-200">
      {{ .Title }}
    </h1>
    {{ .Content }}
    <div class="horizontal-divider"></div>
    <div class="grid gap-4 md:grid-cols-2">
      {{ range .Data.Terms.ByCount }}
        {{ $permalink := .Page.RelPermalink }}
        <div
          class="mb-5 rounded-lg border border-gray-200 bg-white shadow-sm transition-shadow hover:shadow-lg dark:bg-gray-700"
        >
          <div>
            <a href="{{ $permalink }}"> </a>
          </div>
          <div class="p-5">
            <a href="{{ $permalink }}">
              <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                {{ .Page.Title }}
              </h5>
            </a>
            {{ $pageCount := len .Pages }}
            <p class="text-sm text-gray-500 dark:text-gray-200">
              {{ $pageCount }}
              post{{ if ne $pageCount 1 }}s{{ end }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
    {{ partial "widgets/pagination.html" . }}
  </article>
{{ end }}
