@tailwind base;

@layer base {
  body {
    @apply font-body;
  }

  .prose {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply font-light;
    }

    & h2 {
      @apply text-3xl;
    }

    & h3 {
      @apply text-2xl;
    }

    & h4 {
      @apply text-xl;
    }

    & h5 {
      @apply text-lg;
    }

    & a {
      @apply transition-colors duration-200;
    }

    & p code {
      @apply rounded px-0.5 bg-gray-75 dark:bg-gray-800;

      &:before {
        content: "`";
      }

      &:after {
        content: "`";
      }
    }

    & figure {
      @apply lg:w-[130%] lg:mx-[-15%];

      & figcaption {
        @apply -mt-4 text-right;
      }
    }

    & code {
      @apply text-base;
    }

    & blockquote {
      & > p {
        @apply font-normal;

        &:before,
        &:after {
          content: ""
        }
      }
    }
  }
}
