@tailwind base;

@layer base {
  body {
    @apply font-body;
  }

  .prose {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply font-light;
    }

    & h2 {
      @apply text-3xl;
    }

    & h3 {
      @apply text-2xl font-normal;
    }

    & h4 {
      @apply text-xl font-normal;
    }

    & h5 {
      @apply text-lg font-normal;
    }

    & a {
      @apply transition-colors duration-200;
    }

    & code:not(.highlight > .chroma > code) {
      @apply text-string-light dark:text-string-dark;

      &:before {
        content: "`";
      }

      &:after {
        content: "`";
      }
    }

    & figure {
      @apply lg:mx-[-15%] lg:w-[130%];

      & figcaption {
        @apply -mt-4 text-right;
      }
    }

    & code {
      @apply text-base;
    }

    & blockquote {
      & > p {
        @apply font-normal;

        &:before,
        &:after {
          content: "";
        }
      }
    }
  }
}
