/* Background */
.bg {
}

/* PreWrapper */
.chroma {
  @apply p-2;
}

/* Other */
.chroma .x {
}

/* Error */
.chroma .err {
  color: #9e2927;
  @apply bg-gray-200 dark:bg-gray-800;
}

/* CodeLine */
.chroma .cl {
}

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #edfced;

  .dark & {
    background-color: #364135;
  }
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  user-select: none;
  color: #aeb3c2;
  @apply me-1 px-2;

  .dark & {
    color: #606366;
  }
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #686868;
}

/* Line */
.chroma .line {
  @apply flex ps-1 pe-2;
}

/* Keyword */
.chroma .k {
  @apply text-keyword-light dark:text-keyword-dark;
}

/* KeywordConstant */
.chroma .kc {
  color: deeppink;
}

/* KeywordDeclaration */
.chroma .kd {
  @apply text-keyword-light dark:text-keyword-dark;
}

/* KeywordNamespace */
.chroma .kn {
  @apply text-keyword-light dark:text-keyword-dark;
}

/* KeywordPseudo */
.chroma .kp {
  color: deeppink;
}

/* KeywordReserved */
.chroma .kr {
  color: deeppink;
}

/* KeywordType */
.chroma .kt {
  @apply text-keyword-light dark:text-keyword-dark;
}

/* Name */
.chroma .n {
}

/* NameAttribute */
.chroma .na {
  @apply text-function-declaration-light dark:text-function-declaration-dark;
}

/* NameBuiltin */
.chroma .nb {
  color: #24909d;

  .dark & {
    color: #26bda4;
  }
}

/* NameBuiltinPseudo */
.chroma .bp {
}

/* NameClass */
.chroma .nc {
}

/* NameConstant */
.chroma .no {
  @apply text-field-light dark:text-field-dark italic;
}

/* NameDecorator */
.chroma .nd {
  color: #ffa500;
}

/* NameEntity */
.chroma .ni {
}

/* NameException */
.chroma .ne {
  color: #bbbbbb
}

/* NameFunction */
.chroma .nf {
  @apply text-function-declaration-light dark:accent-function-declaration-dark;
}

/* NameFunctionMagic */
.chroma .fm {
  @apply text-function-declaration-light dark:accent-function-declaration-dark;
}

/* NameLabel */
.chroma .nl {
}

/* NameNamespace */
.chroma .nn {
  color: #447fcf;
  text-decoration: underline
}

/* NameOther */
.chroma .nx {
}

/* NameProperty */
.chroma .py {
  @apply text-field-light dark:text-field-dark;
}

/* NameTag */
.chroma .nt {
  color: deeppink;
}

/* NameVariable */
.chroma .nv {
  @apply text-local-variable-light dark:text-local-variable-dark;
}

/* NameVariableClass */
.chroma .vc {
}

/* NameVariableGlobal */
.chroma .vg {
}

/* NameVariableInstance */
.chroma .vi {
}

/* NameVariableMagic */
.chroma .vm {
}

/* Literal */
.chroma .l {
}

/* LiteralDate */
.chroma .ld {
}

/* LiteralString */
.chroma .s {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringAffix */
.chroma .sa {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringBacktick */
.chroma .sb {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringChar */
.chroma .sc {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringDelimiter */
.chroma .dl {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringDoc */
.chroma .sd {
  @apply text-doc-light dark:text-doc-dark;
}

/* LiteralStringDouble */
.chroma .s2 {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringEscape */
.chroma .se {
  @apply text-keyword-light dark:text-keyword-dark;
}

/* LiteralStringHeredoc */
.chroma .sh {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringInterpol */
.chroma .si {
  @apply text-keyword-light dark:text-keyword-dark;
}

/* LiteralStringOther */
.chroma .sx {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringRegex */
.chroma .sr {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringSingle */
.chroma .s1 {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralStringSymbol */
.chroma .ss {
  @apply text-string-light dark:text-string-dark;
}

/* LiteralNumber */
.chroma .m {
  @apply text-number-light dark:text-number-dark;
}

/* LiteralNumberBin */
.chroma .mb {
  @apply text-number-light dark:text-number-dark;
}

/* LiteralNumberFloat */
.chroma .mf {
  @apply text-number-light dark:text-number-dark;
}

/* LiteralNumberHex */
.chroma .mh {
  @apply text-number-light dark:text-number-dark;
}

/* LiteralNumberInteger */
.chroma .mi {
  @apply text-number-light dark:text-number-dark;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  @apply text-number-light dark:text-number-dark;
}

/* LiteralNumberOct */
.chroma .mo {
  @apply text-number-light dark:text-number-dark;
}

/* Operator */
.chroma .o {
}

/* OperatorWord */
.chroma .ow {
  color: deeppink;
}

/* Punctuation */
.chroma .p {
}

/* Comment */
.chroma .c {
  @apply text-comment-light dark:text-comment-dark;
}

/* CommentHashbang */
.chroma .ch {
  @apply text-comment-light dark:text-comment-dark;
}

/* CommentMultiline */
.chroma .cm {
  @apply text-comment-light dark:text-comment-dark;
}

/* CommentSingle */
.chroma .c1 {
  @apply text-comment-light dark:text-comment-dark;
}

/* CommentSpecial */
.chroma .cs {
  color: #e50808;
  background-color: #520000;
  font-weight: bold
}

/* CommentPreproc */
.chroma .cp {
  color: #cd2828;
  font-weight: bold
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #cd2828;
  font-weight: bold
}

/* Generic */
.chroma .g {
}

/* GenericDeleted */
.chroma .gd {
  color: #d22323
}

/* GenericEmph */
.chroma .ge {
  font-style: italic
}

/* GenericError */
.chroma .gr {
  color: #d22323
}

/* GenericHeading */
.chroma .gh {
  color: #ffffff;
  font-weight: bold
}

/* GenericInserted */
.chroma .gi {
  color: #589819
}

/* GenericOutput */
.chroma .go {
  color: #cccccc
}

/* GenericPrompt */
.chroma .gp {
  color: #aaaaaa
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  color: #ffffff;
  text-decoration: underline
}

/* GenericTraceback */
.chroma .gt {
  color: #d22323
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline
}

/* TextWhitespace */
.chroma .w {
  color: #666666
}
