/* Background */
.bg {
}

/* PreWrapper */
.chroma {
    @apply bg-gray-100 dark:bg-gray-900 p-2;
}

/* Other */
.chroma .x {
}

/* Error */
.chroma .err {
    color: #9e2927;
    @apply bg-gray-200 dark:bg-gray-800;
}

/* CodeLine */
.chroma .cl {
}

/* LineLink */
.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;

    .dark & {
        color: #287bde;
    }
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineHighlight */
.chroma .hl {
    background-color: #ffffcc;

    .dark & {
        background-color: #214283;
    }
}

/* LineNumbersTable */
.chroma .lnt {
    white-space: pre;
    user-select: none;
    color: #686868;
    @apply me-1 px-2;
}

/* LineNumbers */
.chroma .ln {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #686868;
}

/* Line */
.chroma .line {
    @apply flex ps-1 pe-2;
}

/* Keyword */
.chroma .k {
    color: #6ab825;

    .dark & {
        color: #cc7832;
    }
}

/* KeywordConstant */
.chroma .kc {
    color: #9876aa;
}

/* KeywordDeclaration */
.chroma .kd {
    color: #ffc66d;

    .dark & {
        color: #ffc66d;
    }
}

/* KeywordNamespace */
.chroma .kn {
    color: #cc7832;

    .dark & {
        color: #cc7832;
    }
}

/* KeywordPseudo */
.chroma .kp {

    .dark & {
        color: #a5c261;
    }
}

/* KeywordReserved */
.chroma .kr {
    color: #6ab825;

    .dark & {
        color: #a5c261;
    }
}

/* KeywordType */
.chroma .kt {
    color: #6ab825;

    .dark & {
        color: #a5c261;
    }
}

/* Name */
.chroma .n {
}

/* NameAttribute */
.chroma .na {
    color: #bbbbbb;

    .dark & {
        color: #ffc66d;
    }
}

/* NameBuiltin */
.chroma .nb {
    color: #24909d;

    .dark & {
        color: #26bda4;
    }
}

/* NameBuiltinPseudo */
.chroma .bp {
}

/* NameClass */
.chroma .nc {
}

/* NameConstant */
.chroma .no {
    /*color: #40ffff;*/
    color: deeppink;
}

/* NameDecorator */
.chroma .nd {
    /*color: #ffa500;*/
    color: deeppink;
}

/* NameEntity */
.chroma .ni {
}

/* NameException */
.chroma .ne {
    color: #bbbbbb
}

/* NameFunction */
.chroma .nf {
    /*color: #447fcf;*/
    color: deeppink;

    .dark & {
        color: #ffc66d;
    }
}

/* NameFunctionMagic */
.chroma .fm {
    .dark & {
        color: #ffc66d;
    }
}

/* NameLabel */
.chroma .nl {
}

/* NameNamespace */
.chroma .nn {
    color: #447fcf;
    text-decoration: underline
}

/* NameOther */
.chroma .nx {
}

/* NameProperty */
.chroma .py {
}

/* NameTag */
.chroma .nt {
    /*color: #6ab825;*/
    color: deeppink;
    font-weight: bold
}

/* NameVariable */
.chroma .nv {
    /*color: #40ffff;*/
    color: deeppink;

    .dark & {
        color: #9876aa;
    }
}

/* NameVariableClass */
.chroma .vc {
}

/* NameVariableGlobal */
.chroma .vg {
}

/* NameVariableInstance */
.chroma .vi {
}

/* NameVariableMagic */
.chroma .vm {
}

/* Literal */
.chroma .l {
}

/* LiteralDate */
.chroma .ld {
}

/* LiteralString */
.chroma .s {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringAffix */
.chroma .sa {
    color: #ed9d13
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #ed9d13
}

/* LiteralStringChar */
.chroma .sc {
    color: #ed9d13
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #ed9d13
}

/* LiteralStringDoc */
.chroma .sd {
    color: #ed9d13;

    .dark & {
        color: #629755;
    }
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringEscape */
.chroma .se {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringInterpol */
.chroma .si {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringOther */
.chroma .sx {
    color: #ffa500;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringRegex */
.chroma .sr {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #ed9d13;

    .dark & {
        color: #6a8759;
    }
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #ed9d13;
}

/* LiteralNumber */
.chroma .m {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* LiteralNumberBin */
.chroma .mb {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* LiteralNumberHex */
.chroma .mh {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* LiteralNumberOct */
.chroma .mo {
    color: #3677a9;

    .dark & {
        color: #6897bb;
    }
}

/* Operator */
.chroma .o {
}

/* OperatorWord */
.chroma .ow {
    color: #6ab825;

    .dark & {
        color: #a5c261;
    }
}

/* Punctuation */
.chroma .p {
}

/* Comment */
.chroma .c {
    color: #999999;

    .dark & {
        color: #808080;
    }
}

/* CommentHashbang */
.chroma .ch {
    color: #999999;

    .dark & {
        color: #808080;
    }
}

/* CommentMultiline */
.chroma .cm {
    color: #999999;

    .dark & {
        color: #808080;
    }
}

/* CommentSingle */
.chroma .c1 {
    color: #999999;

    .dark & {
        color: #808080;
    }
}

/* CommentSpecial */
.chroma .cs {
    color: #e50808;
    background-color: #520000;
    font-weight: bold
}

/* CommentPreproc */
.chroma .cp {
    color: #cd2828;
    font-weight: bold
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #cd2828;
    font-weight: bold
}

/* Generic */
.chroma .g {
}

/* GenericDeleted */
.chroma .gd {
    color: #d22323
}

/* GenericEmph */
.chroma .ge {
    font-style: italic
}

/* GenericError */
.chroma .gr {
    color: #d22323
}

/* GenericHeading */
.chroma .gh {
    color: #ffffff;
    font-weight: bold
}

/* GenericInserted */
.chroma .gi {
    color: #589819
}

/* GenericOutput */
.chroma .go {
    color: #cccccc
}

/* GenericPrompt */
.chroma .gp {
    color: #aaaaaa
}

/* GenericStrong */
.chroma .gs {
    font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
    color: #ffffff;
    text-decoration: underline
}

/* GenericTraceback */
.chroma .gt {
    color: #d22323
}

/* GenericUnderline */
.chroma .gl {
    text-decoration: underline
}

/* TextWhitespace */
.chroma .w {
    color: #666666
}
