.highlight {
  @apply my-7 overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-600;

  > pre:has(code) {
    @apply border-none;
  }
}

.highlight-caption {
  @apply -mt-5 text-right text-sm italic text-gray-500 dark:text-gray-300;
}

*::selection {
  background-color: #a6d2ff;
}

.dark *::selection {
  background-color: #214283;
}

code,
pre {
  @apply font-light dark:font-extralight;
}

pre:has(code) {
  @apply overflow-x-auto rounded-lg border border-gray-200 p-3 dark:border-gray-600;
}

td.lntd pre {
  padding: 0;
  border: 0;
}

/* Line numbers column */
table.lntable > tbody > tr > td:nth-child(1) {
  @apply border-e border-solid;

  border-color: #ebecf0;

  .dark & {
    border-color: #373737;
  }

  > pre > code > span {
    @apply flex flex-col;
  }
}
