<div class="px-6 mx-auto mb-16 prose text-gray-700 justify-self-center sm:px-4 md:px-0 lg:prose-lg dark:prose-dark">
  {{/* h-entry */}}
  <article class="h-entry">
    {{/* h-entry */}}
    <h1 class="p-name">{{ .Title }}</h1>

    <div class="-mt-6 text-gray-500 dark:text-gray-300">
      {{ partial "icons/ionicons" (dict "logoname" "calendar-outline" "size" 18) }}
      <time datetime="{{ .PublishDate }}">
        {{ $publishDate := .PublishDate.Format "2 January 2006" }}
        <a
          href="{{ .Permalink }}"
          class="no-underline font-normal text-gray-500 hover:text-gray-950 dark:text-gray-300 hover:dark:text-gray-200"
        >{{ $publishDate }}</a>
      </time>
    </div>

    <div class="text-gray-500 dark:text-gray-300">
      {{ partial "icons/ionicons" (dict "logoname" "time-outline" "size" 18) }}
      {{ .ReadingTime }} minute read
    </div>

    {{ with .Params.cover }}
      {{ $caption := .caption | default $.Page.Title }}
      {{ partial "image.html" (dict "Page" $.Page "Destination" .src "Title" $caption) }}
    {{ end }}

    {{- with (.GetTerms "series") -}}
      {{- $series := slice -}}
      {{- range . -}}
        {{- $series = $series | append (printf "<a href=\"%s\">%s</a>" .Permalink .Title) -}}
      {{- end -}}
      <div class="notice font-bold">
        <p>This post is part of the {{ delimit $series ", " " and " }} series.</p>
      </div>
    {{- end -}}

    {{/* h-entry */}}
    <div class="e-content mt-6">
      {{ .Content }}
    </div>
    <hr />

    {{- with (.GetTerms "series") -}}
      {{- range . -}}
      {{ $permaLink := .Permalink }}
      <h3><a href="{{ $permaLink }}">{{ .Title }}</a> series</h3>
      {{- $series := .Pages.ByDate -}}
        <ol>
          {{- range $series -}}
            <li>
              {{- if eq .File.UniqueID $.File.UniqueID -}}
                <b>{{ .Title }}</b>
              {{- else -}}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{- end -}}
            </li>
          {{- end -}}
        </ol>
      {{- end -}}
    {{- end -}}

    {{ with .Params.tags }}
      <div class="text-gray-500">
        <span class="font-bold">
          {{ partial "icons/ionicons" (dict "logoname" "pricetags-outline" "size" 18) }}
          Tags:
        </span>
        {{ range $idx, $tag := . }}
        {{- if ne $idx 0 }}{{ end }}
        <a
          href="{{ "tags/" | relURL }}{{ $tag | urlize }}"
          class="
          rounded-md
          text-base
          border
          border-gray-300
          hover:bg-gray-100
          w-1/2
          p-1
          items-center
          justify-center
          no-underline
          text-gray-500"
        >{{ $tag }}</a>
        {{- end }}
      </div>
    {{ end }}

    {{ with .Params.categories }}
      <div class="text-gray-500">
          <span class="font-bold">
            {{ partial "icons/ionicons" (dict "logoname" "folder-open-outline" "size" 18) }}
            Categories:
          </span>
        {{ range $idx, $category := . }}
        {{- if ne $idx 0 }}{{ end }}
        {{/* h-entry */}}
        <a
          href="{{ "categories/" | relURL }}{{ $category | urlize }}"
          class="p-category"
        >
          {{ $category }}
        </a>
        {{- end }}
      </div>
    {{ end }}

  </article>
  {{ partial "prev-next.html" . }}
</div>
