<div class="fixed flex justify-center align-middle top-16 right-6 w-10 h-10 bg-gray-50 dark:bg-gray-800 border-accent-dark-500 rounded-full cursor-pointer z-50">

  <div class="block dark:hidden text-accent-light-400 mt-0.5">
    {{ partial "icons/ionicons" (dict "logoname" "moon-outline" "size" 32) }}
  </div>

  <div class="hidden dark:block text-accent-dark-400 mt-0.5">
    {{ partial "icons/ionicons" (dict "logoname" "sunny-outline" "size" 32) }}
  </div>

  <select name="darkMode" id="dark-mode-select" onchange="setDarkMode(this.value)">
    <option value="system">System</option>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</div>
