<div class="h-card hidden">
  <p>
    <a class="u-url" href="{{ .Site.BaseURL }}">This website</a>
    is created by
    {{ with .Site.Params.Hcard.Avatar }}
      {{ $image := resources.Get . }}
      <img
        class="u-photo"
        src="{{ ($image.Fit "200x200 webp").RelPermalink }}"
        width="200"
        height="200"
        alt="{{ $.Site.Params.Hcard.FullName }}"
      />
    {{ end }}<span class="p-name" rel="me">{{- .Site.Params.Hcard.FullName -}}</span>
    {{- if isset .Site.Params.Hcard "nickname" -}}
      , also known as
      <span class="p-nickname">{{ .Site.Params.Hcard.Nickname }}</span>
    {{ end }}

    {{ if .Site.Params.Hcard.ShowLocation }}
      in
      {{ with .Site.Params.Hcard.City }}
        <span class="p-locality">{{ . }}</span>,
      {{ end }}
      {{ with .Site.Params.Hcard.Region }}
        <span class="p-region">{{ . }}</span>,
      {{ end }}
      {{ with .Site.Params.Hcard.Country }}
        <span class="p-country-name">{{ . }}</span>
      {{ end }}
    {{- else -}}
      in some places
    {{- end -}}.
  </p>
  {{ with .Site.Params.Hcard.Biography }}
    <p>
      <span class="p-note">{{ . | markdownify }}</span>
    </p>
  {{ end }}
</div>
