{{ $title := .PlainText | default .Title }}
{{ $alt := .Title | default .PlainText }}

{{ $isGoldmarkImageContext := eq (printf "%T" .) "goldmark.imageLinkContext" }}
{{ if (not $isGoldmarkImageContext) }}
  {{ $alt = .Alt }}
{{ end }}

{{ if in .Destination "http" }}
  <figure>
    <img
      alt="{{ $alt }}"
      title="{{ $title }}"
      src="{{ .Destination }}"
      loading="lazy"
      class="rounded-lg"
    />
    <figcaption class="text-sm italic">
      {{ $alt | $.Page.RenderString }}
    </figcaption>
  </figure>
{{ else }}
  {{ $image := .Page.Resources.GetMatch .Destination }}

  {{ if not $image }}
    {{ errorf "image not found: %s" .Destination }}
  {{ end }}

  {{ if eq $image.MediaType.SubType "svg" }}
    <figure>
      <a href="{{ $image.RelPermalink }}">
        <img
          alt="{{ $alt }}"
          title="{{ $title }}"
          src="{{ $image.RelPermalink }}"
          loading="lazy"
          class="rounded-lg"
        />
      </a>
      <figcaption class="text-sm italic">
        {{ $alt | $.Page.RenderString }}
      </figcaption>
    </figure>
  {{ else }}
    {{ $placeholder := $image.Resize "3x webp q65" }}
    {{ $small := $image.Resize "376x webp" }}
    {{ $medium := $image.Resize "992x webp" }}
    {{ $large := $image.Resize "1400x webp" }}
    {{ $original := $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}


    <figure>
      <a href="{{ $image.RelPermalink }}">
        <picture>
          <source
            media="(max-width: 639px)"
            srcset="{{ $small.RelPermalink }}"
          />

          <source
            media="(max-width: 767px)"
            srcset="{{ $medium.RelPermalink }}"
          />

          <source
            media="(max-width: 1023px)"
            srcset="{{ $large.RelPermalink }}"
          />

          <source
            media="(min-width: 1024px)"
            srcset="{{ $original.RelPermalink }}"
          />

          <img
            alt="{{ $alt }}"
            title="{{ $title }}"
            src="{{ $image.RelPermalink }}"
            loading="lazy"
            height="{{ $image.Height }}"
            width="{{ $image.Width }}"
            class="rounded-lg"
            style="
              background: url(data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }});
              background-size: cover;
            "
          />
        </picture>
      </a>
      <figcaption class="text-sm italic">
        {{ $alt | $.Page.RenderString }}
      </figcaption>
    </figure>
  {{ end }}
{{ end }}
